<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimoMaster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SimoMaster.Properties.Settings>
            <setting name="LastIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LastUnitID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastMode" serializeAs="String">
                <value>Modbus TCP</value>
            </setting>
            <setting name="LastCom" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LastBaud" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="LastParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LastStopBits" serializeAs="String">
                <value>One</value>
            </setting>
        </SimoMaster.Properties.Settings>
    </userSettings>
</configuration>